/* 
    Header
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#header-logo {
    grid-column: 1/-2;
}

/* 
    Backdrop
*/
.page-backdrop {
    background-image: url(../img/backdrop.png);
    background-size: cover;
    background-position: center;
}

.page-backdrop h2,
.page-backdrop ul,
.page-backdrop li {
    grid-column: 1/-1;
}

.page-backdrop li {
    margin-bottom: 1em;
}

/* 
    Intro
*/
.page-intro h4,
.page-intro p,
.page-intro a,
.page-intro li {
    grid-column: 1/-1;
}

.page-intro a {
    margin: 2rem auto;
}

.page-intro li:not(:last-of-type) {
    margin-bottom: 4rem;
}

/* 
    Project
*/
.project-backdrop {
    background-image: url(../img/project.png);
    background-size: cover;
    background-position: center;
}

.project-backdrop > * {
    grid-column: 1/-1;
}

.project-backdrop a {
    opacity: .7;
}

.text-wrapper {
    display: flex;
}

.project-content {
    background-color: #201e1c;
}

.project-content > * {
    grid-column: 1/-1;
}

.project-content a {
    margin: 0 auto 2.5rem;
}

.project-content p {
    margin: 1rem 0 3rem;
}