/* 
    Header
*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: background 200ms ease-in-out;
}

.header.page {
    background: var(--primaryColor);
    background: linear-gradient(0deg, rgba(176, 181, 180, 0) 0%, rgba(176, 181, 180, 1) 100%);
}

.header.project {
    background: var(--trecearyColor);
    background: linear-gradient(0deg, rgba(32, 30, 28, 0) 0%, rgba(32, 30, 28, 1) 100%);
}

.header-nav {
    display: none;
    margin: -1rem -14px 0;
    transition: background 200ms ease-in-out;
}

.header-logo {
    grid-column: 1/-2;
    grid-row: 1;
    transition: opacity 200ms ease-in-out;
}

.header-logo.dark {
    opacity: 0;
}

.header.page .header-logo.light,
.header.project .header-logo.dark {
    opacity: 0;
}

.header.page .header-logo.dark,
.header.project .header-logo.light {
    opacity: 1;
}

/* Desktop Media Query */
@media screen and (min-width: 52rem) {
    .header.page,
    .header.project {
        background-color: transparent !important;
    }

    .header.page .header-nav {
        background: var(--primaryColor);
        background: linear-gradient(0deg, rgba(176, 181, 180, 0) 0%, rgba(176, 181, 180, 1) 100%);
    }

    .header.page .header-nav a {
        color: var(--trecearyColor) !important;
    }

    .header.project .header-nav{
        background: var(--trecearyColor);
        background: linear-gradient(0deg, rgba(32, 30, 28, 0) 0%, rgba(32, 30, 28, 1) 100%);
    }

    .header.project .header-nav a {
        color: var(--secondaryColor) !important;
    }

    .header-logo {
        grid-column: 1/4;
    }

    .header-nav {
        display: block;
        grid-column: 7/-1;
    }

    .header-nav li {
        grid-column: span 2;
    }
}

/* 
    Backdrop
*/
.page-backdrop {
    background-image: url(../img/backdrop.png);
    background-size: cover;
    background-position: center;
}

.page-backdrop h2,
.page-backdrop ul,
.page-backdrop li {
    grid-column: 1/-1;
}

.page-backdrop li {
    margin-bottom: 1em;
}

/* Desktop Media Query */
@media screen and (min-width: 52rem) {
    .page-backdrop {
        min-height: 100vh;
    }

    .page-backdrop h2 {
        grid-column: 7/-2;
    }

    .page-backdrop ul {
        grid-column: 7/-1;
    }

    .page-backdrop li {
        grid-column: span 4;
        margin-bottom: 2em;
    }
}

/* 
    Intro
*/
.page-intro > *,
.page-intro h3,
.page-intro p,
.page-intro a,
.page-intro li {
    grid-column: 1/-1;
}

.page-intro a {
    margin: 2rem auto;
    height: fit-content;
}

.page-intro li:not(:last-of-type) {
    margin-bottom: 4rem;
}

/* Desktop Media Query */
@media screen and (min-width: 52rem) {
    .page-intro h3 {
        grid-column: 7/-1;
        grid-row: 1;
    }

    .page-intro p {
        grid-column: 7/-2;
        grid-row: 2;
    }

    .page-intro a {
        grid-column: 2/7;
        grid-row: 2;
        margin: 0 auto 0 0;
    }

    .page-intro ul {
        grid-column: 7/-1;
    }

    .page-intro li {
        grid-column: span 4;
        margin: 4rem auto;
    }


}

/* 
    Project
*/
/* Backdrop */
.project-backdrop {
    background-image: url(../img/project/backdrop.png);
    background-size: cover;
    background-position: center;
}

.project-backdrop > * {
    grid-column: 1/-1;
}

.project-backdrop a {
    opacity: .7;
}

.text-wrapper {
    display: flex;
}

/* Desktop Media Query */
@media screen and (min-width: 52rem) {
    .project-backdrop h2 {
        grid-column: 7/-1;
        grid-row: 1;
        margin-bottom: 1em;
    }

    .project-backdrop > div.mar-xs {
        grid-column: 2/7;
        grid-row: 2;
        margin: 0;
    }

    .project-backdrop > p {
        grid-column: 7/-3;
        grid-row: 2;
    }

    .project-backdrop .text-wrapper {
        grid-column: 7/-1;
        grid-row: 3;
    }
}

/* Content */
.project-content {
    background-color: var(--trecearyColor);
}

.project-content > * {
    grid-column: 1/-1;
}

.project-content a {
    margin: 0 auto 2.5rem;
    height: fit-content;
}

.project-content p {
    margin: 1rem 0 3rem;
}

/* Desktop Media Query */
@media screen and (min-width: 52rem) {
    .project-content a {
        grid-column: 2/7;
        margin: 0 auto 0 0;
    }

    .project-content article {
        grid-column: 7/-3;
    }
}

/* Gallery */
.project-gallery {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100vw;
    background-color: var(--trecearyColor);
    margin: 0 -14px;
    scroll-snap-type: x mandatory
}

.project-gallery img {
    margin-left: 14px;
    width: calc(calc(var(--columnMobile) * 5) + 36px);
    height: 66vw;
    scroll-snap-align: center;
}

.project-gallery img:last-of-type {
    margin-right: 14px;
}

/* Picture */
.page-project>img {
    width: 100%;
    height: 150vw;
    object-fit: cover;
}

/* Desktop Media Query */
@media screen and (min-width: 52rem) {
    .project-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 14px;
        width: 100%;
        margin: 0;
    }

    .project-gallery img {
        width: unset;
        grid-column: span 1;
        margin: 0;
        height: 25vw;
    }

    .page-project > img {
        height: auto;
    }
}


/* 
    Mission
*/
.page-mission > * {
    grid-column: 1/-1;
}

.page-mission_list {
    padding-left: 0;
    list-style: none;
    counter-reset: item;
}

.page-mission_list li {
    grid-column: 1/-1;
    counter-increment: item;
    position: relative;
    padding-left: var(--columnMobile);
    margin-bottom: 1em;
}

.page-mission_list li:before {
    content: counter(item);
    position: absolute;
    top: 0;
    left: 0;
}

/* Desktop Media Query */
@media screen and (min-width: 52rem) {
    .page-mission > * {
        grid-column: 7/-3;
    }

    .page-mission_list li {
        padding-left: var(--columnDesktop);
    }
}
/* 
    Team
*/
.page-team h2,
.page-team ul {
    grid-column: 1/-1;
    margin-bottom: 2rem;
}

.page-team_person {
    padding-top: .5rem;
    border-top: 1px solid black;
    margin-bottom: 2rem;
}

.page-team_person img {
    grid-column: 1/2;
    grid-row: 1/5;
    width: var(--columnMobile);
    height: var(--columnMobile);
    mix-blend-mode: multiply;
}

.page-team_person h3,
.page-team_person p,
.page-team_person div {
    grid-column: 2/-1;
}

.page-team_person p {
    opacity: .5;
    margin-bottom: 2em;
}

.page-team_person a {
    display: block;
}

.page-team_person a:first-of-type {
    margin-bottom: .25em;
}

/* Desktop Media Query */
@media screen and (min-width: 52rem) {
    .page-team > h2 {
        grid-column: 7/-2;
    }

    .page-team > ul {
        grid-column: 7/-1;
    }

    .page-team_person img {
        width: calc(var(--columnDesktop) * 2);
        height: calc(var(--columnDesktop) * 2);
    }

    .page-team_person h3 {
        grid-row: 1;
    }

    .page-team_person > p {
        margin-bottom: auto;
        grid-row: 2;
    }

    .page-team_person > div {
        grid-row: 4;
    }
}


/* 
    Footer
*/
#footer {
    background-color: black;
    padding-bottom: 1rem;
}

#footer > * {
    grid-column: 1/-1;
}

/* Contacts */
.footer-contacts {
    margin-bottom: 2rem;
}

.footer-contacts a {
    display: block;
}

.footer-contacts a:first-of-type {
    margin-top: 2em;
}

/* Partners */
.footer-partners ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.footer-partners ul li:first-of-type {
    min-width: 100%;
    max-width: 100%;
    padding-bottom: .25rem;
    border-bottom: 1px solid var(--primaryColor);
    margin-bottom: 2rem;
}

.footer-partners img {
    width: auto;
    height: fit-content;
    max-height: 1.75rem;
    max-width: 80vw;
    margin-bottom: 2.5rem;
}

/* Footnotes */
.footer-footnotes {
    margin-top: 4rem;
}

.footer-footnotes > p {
    grid-column: 1/-1;
    margin-bottom: 1em;
}

/* Desktop Media Query */
@media screen and (min-width: 52rem) {
    .footer-contacts {
        grid-column: 2/6 !important;
    }

    .footer-partners {
        grid-column: 7/-1 !important;
    }

    .footer-partners ul {
        margin: 0 0 2rem;
        justify-content: flex-start;
    }

    .footer-partners img {
        margin-right: 3rem;
        max-height: 2rem;
        max-width: 50vw;
    }

    .footer-footnotes p:nth-of-type(1) {
        grid-column: 2/6;
    }

    .footer-footnotes p:nth-of-type(2) {
        grid-column: 7/-2;
    }
}