/* 
	Type Faces
*/
@font-face {
	font-family: CooperHewitt-Medium;
	src: url(../fonts/CooperHewitt-Medium.otf);
}

@font-face {
	font-family: CooperHewitt-Semibold;
	src: url(../fonts/CooperHewitt-Semibold.otf);
}

@font-face {
	font-family: RobotoMono-Bold;
	src: url(../fonts/RobotoMono-Bold.ttf);
}

/* 
	Text
*/
.t-bold {
	font-weight: 700;
}

.t-italic {
	font-style: italic;
}

.t-uppercase {
	text-transform: uppercase;
}

.t-lowercase {
	text-transform: lowercase;
}

.t-left {
	text-align: left;
}

.t-center {
	text-align: center;
}

.t-right {
	text-align: right;
}


/* 
	Type Sizes 
*/

.t-min {
	font-family: RobotoMono-Bold, Arial, Helvetica, sans-serif;
	font-size: .8rem;
	line-height: 1em;
	text-transform: uppercase;
}

.t-caption {
	font-family: CooperHewitt-Semibold, Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
	line-height: 1.25em;
}

.t-body,
.t-h4 {
	font-family: CooperHewitt-Semibold, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 1.25em;
}

.t-h3,
.t-h2 {
	font-family: CooperHewitt-Medium, Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	line-height: 1.15em;
}

.t-h1 {
	font-family: CooperHewitt-Medium, Arial, Helvetica, sans-serif;
	font-size: 2rem;
	line-height: 1.1em;
}

/* Desktop */
@media only screen and (min-width: 64rem) {
	.t-min {
		font-size: 0.6rem;
	}

	.t-caption {
		font-size: 0.8rem;
	}

	.t-body {
		font-size: 1.1rem;
	}

	.t-h2 {
		font-size: 1.35rem;
	}

	.t-h1 {
		font-size: 2.5rem;
	}
}

/* Desktop Large */
@media only screen and (min-width: 100rem) {
	.t-min {
		font-size: 0.75rem;
	}

	.t-caption {
		font-size: 1rem;
	}

	.t-body {
		font-size: 1.25rem;
	}

	.t-h2 {
		font-size: 1.5rem;
	}

	.t-h1 {
		font-size: 2rem;
	}
}