/* 
	Type Faces
*/
@font-face {
	font-family: CooperHewitt;
	src: url(../fonts/CooperHewitt-Medium.otf) format(opentype);
	font-style: normal;
	font-weight: 500;
	font-stretch: normal;
}

@font-face {
	font-family: CooperHewitt;
	src: url(../fonts/CooperHewitt-Semibold.otf) format(opentype);
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
}

@font-face {
	font-family: RobotoMono-Bold;
	src: url(../fonts/RobotoMono-Bold.ttf) format(truetype);
	font-style: normal;
	font-weight: 600;
	font-stretch: normal;
}

/* 
	Text
*/
.t-bold {
	font-weight: 700;
}

.t-italic {
	font-style: italic;
}

.t-uppercase {
	text-transform: uppercase;
}

.t-lowercase {
	text-transform: lowercase;
}

.t-left {
	text-align: left;
}

.t-center {
	text-align: center;
}

.t-right {
	text-align: right;
}


/* 
	Type Sizes 
*/

.t-min {
	font-family: RobotoMono-Bold, Arial, Helvetica, sans-serif;
	font-size: .8rem;
	line-height: 1em;
	text-transform: uppercase;
}

.t-caption {
	font-family: CooperHewitt-Semibold, Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
	line-height: 1.25em;
}

.t-body {
	font-family: CooperHewitt-Semibold, Arial, Helvetica, sans-serif;
	font-size: 1rem;
	line-height: 1.25em;
}

.t-h5,
.t-h4 {
	font-family: CooperHewitt-Medium, Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	line-height: 1.25em;
}

.t-h3,
.t-h2 {
	font-family: CooperHewitt-Medium, Arial, Helvetica, sans-serif;
	font-size: 1.8rem;
	line-height: 1.15em;
}

.t-h1 {
	font-family: CooperHewitt-Medium, Arial, Helvetica, sans-serif;
	font-size: 2rem;
	line-height: 1.1em;
}


/* Desktop Media Query */
@media screen and (min-width: 52rem) {
	.t-min {
		font-size: .9rem;
	}

	.t-caption {
		font-size: 1rem;
	}

	.t-body {
		font-size: 1.25rem;
		line-height: 1.3em;
	}
	
	.t-h5 {
		font-size: 1.75rem;
	}
	
	.t-h4 {
		font-size: 1.35rem;
		line-height: 1.3em;
	}

	.t-h3 {
		font-size: 2rem;
	}

	.t-h2 {
		font-size: 2.3rem;
		line-height: 1.1em;
	}

	.t-h1 {
		font-size: 3.3rem;
	}
}